{
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
